@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Set your brand colors
$yellow: #FDB813;
$black: #000000;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$grey-dark: $black;
$grey-light: $black;
$primary: $yellow;
$link: $black;
$link-hover: $yellow;
$widescreen-enabled: false;
$fullhd-enabled: false;
$container: $yellow;
$hero-head: $yellow;


// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;




// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";