@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li {
 list-style: none;
}

.page-width {
  padding: 50px;
}

.center-text {
    text-align: center;
}

.link {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0 3rem;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1.3rem;
}

.link:hover {
    color: #FDB813;
    font-weight: bold;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.active-list {
    color: #FDB813;
    font-weight: bold;
}

.logo {
    width: 168px;
    height: 112px;   
}

.button {
    background-color: #FDB813;
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

/* Index css  */

.index-grid {
    display: grid;
    grid-template-columns: auto auto;
    div {
     justify-content: center;
     justify-items: center;
    }
}

.home-border {
    border-width: thin;
    border: 2px solid #FDB813;
}

.dotted-line {
    border: 2px dashed #FDB813;
    width: 25%;
}

.title {
    text-align: center;
    color: #FDB813;
    font-weight: bolder;
    font-size: 2em;

}

/* Index mobile css  */

@media only screen and (max-width: 650px) {
    .index-grid {
        grid-template-columns: auto;
    }
}

/* footer css */

.footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 80px;
}

.links {
  color: #FDB813; 
  text-decoration: none;
}

.links:hover {
  color: rgba($color: #FDB813, $alpha: 0.5); 
}

.white-line {
  color: white;
  margin: 5px 5px;
}

.copyright {
    color: white;
    padding-top: 30px;
   }
   
   .footer-background {
    background-color: #363636;
    border-left: 20px solid #FDB813;
    padding-left: 40px;
    height: 100%;
    align-content: center; 
       .social-border {
       padding-left: 0px;
       border: solid 4px #FDB813;
       display: inline-block;
       height: 175px;
       width: 90px;     
       }
   } 
 
.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}   

.icon {
    color: white;
    height: 50px;
    font-size: x-large;
}

.icon:hover {
    color: #FDB813;
}

/* footer mobile css */

@media only screen and (max-width: 650px) {
    .footer-grid {
      grid-template-columns: auto;
      grid-gap: 10px;
    }
    .footer-background {
        background-color: #363636;
        border-left: 0px;
        border-top: 20px solid #FDB813;
        padding-left: 40px;
        height: 100%;
        align-content: center; 
           .social-border {
           padding-left: 0px;
           border: solid 4px #FDB813;
           display: inline-block;
           height: 100px;
           width: 90px;     
           }
       }
    
}