@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li {
 list-style: none;
}

.links {
  color: #FDB813; 
  text-decoration: none;
}

.links:hover {
  color: rgba($color: #FDB813, $alpha: 0.5); 
}

.white {
  color: white;
}

.copyright {
 color: white;
 padding-top: 30px;
}

.footer-background {
 background-color: #363636;
 border-left: 20px solid #FDB813;
 padding-left: 40px;
}

.footer-border {
    border: 2px #FDB813 solid
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0 3rem;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1.3rem;
}

.link:hover {
    color: #FDB813;
    font-weight: bold;
}

.line::after {
    content: " ";
    display: block;
    width: 0;
    height: 2px;
    background: #FDB813;
    transition: width .5s

}

.line:hover::after {
    width: 100%;
    transition: width .5s;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.active-list {
    color: #FDB813;
    font-weight: bold;
}

.logo {
    width: 168px;
    height: 112px;   
}


.hr {
    background-color: #FDB813;
    height: 0.5rem;
    width: 5rem;
}

