.link {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    padding: 1rem 0 3rem;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1.3rem;
}

.link:hover {
    color: #FDB813;
    font-weight: bold;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.active-list {
    color: #FDB813;
    font-weight: bold;
    text-decoration: underline;
}

.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top { align-items: flex-start;}
.right {justify-content: flex-end;}
.bottom { align-items: flex-end;}
.left { justify-content: flex-start;}

.logo {
    width: 168px;
    height: 112px;
    
}