.container {
    margin: 0 auto;
    max-width: 1250px;
    padding: 2rem;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    min-height: 100-vh;
}

.content {
    flex-grow: 1;
}